# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Environment / Secrets (NUNCA commitear estos archivos)
.env
application-local.properties
application-local.yml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Spring Boot
spring-boot-*.jar
